<% content_for :page_title, "Preview content block in host document" %>
<% content_for :context, "Preview #{@edition.block_type.humanize.downcase}" %>
<% content_for :title, @preview_content.title %>
<% content_for :title_margin_bottom, 1 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body govuk-!-margin-bottom-0">
    <%= render(Edition::HostContent::PreviewDetailsComponent.new(
          edition: @edition,
          preview_content: @preview_content)) %>
  </div>
</div>
<hr class="govuk-section-break govuk-!-margin-bottom-8 govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= turbo_frame_tag "preview_frame_#{@edition.id}" do %>
      <%= render "editions/host_content/iframe" %>
    <% end %>
  </div>
</div>
