$govuk-page-width: 1140px;

@import "govuk_publishing_components/all_components";

@import "components/array-component";
@import "components/embedded-objects-blocks-component";
@import "components/embedded-objects-metadata-component";
@import "components/default-block-component";
@import "components/filter-options-component";
@import "components/govspeak-editor";
@import "components/host-editions-rollup-component";
@import "components/host-editions-table-component";
@import "components/host-content-iframe-component";
@import "components/opening-hours-component";
@import "components/opening-hours-item-component";
@import "components/reorder-component";
@import "components/textarea-component";
@import "components/timeline-component";

@import "objects/grid";
@import "shared/embed_codes";

@import "views/content_block_manager_header";
@import "views/content_block_manager_show";
@import "views/editions/preview";

.app-js-only {
  display: none;
}

.js-enabled {
  .app-no-js {
    display: none;
  }

  .app-js-only {
    display: block;
  }

  // The .js-enabled class gets applied immediately while the page is still loading,
  // whereas GOV.UK JS Modules only initialise once the entire HTML document has loaded (on DOMContentLoaded).
  // To avoid a 'flash of unstyled content', elements can use .hide-before-js-module-init to
  // temporarily hide the element. The element's JS module can then remove it once
  // initialised and apply the correct styling.
  .hide-before-js-module-init {
    display: none;
  }
}
